@model IEnumerable<BankingApp.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <title>Card Boxes Example</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-RhUSmEFl0H/4M6Bj0/d0s4pG9/4TfT6Nqj3UWeN6Q2zl6CZ8jbvCcL3jIz+cQ9KjPZ8RvPSbRr+IpljlxGRT1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom CSS -->
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        /* Set background color and font family */
        body {
            font-family: 'Open Sans', sans-serif;
        }

        /* Style for card-box */
        .card-box {
            width: 400px;
            height: 200px;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 60px;
            background-color: #577590;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        /* Style for card-exp-cvv-box */
        .card-exp-cvv-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .expiry {
            flex: 60%;
        }

        .cvv {
            flex: 40%;
        }

        /* Style for card title */
        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        /* Style for card content */
        .card-heading-text {
            font-size: 12px;
            color: #000000;
            margin-top: 16px;
            margin-bottom: 2px;
        }

        /* Style for card content */
        .card-text {
            font-size: 16px;
            color: #000000;
            margin-top: 2px;
            margin-bottom: 16px;
        }


        .circle-button1 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #007bff;
            font-size: 12px;
            font-weight: bold;
            color: #000000;
            background-color: #007bff;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            
            position: absolute;
            left: 430px;
            top: 0px;
        }

        .circle-button2 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #007bff;
            font-size: 12px;
            font-weight: bold;
            color: #000000;
            background-color: #007bff;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

            position: absolute;
            left: 430px;
            top: 70px;
        }

        .circle-button3 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #007bff;
            font-size: 12px;
            font-weight: bold;
            color: #000000;
            background-color: #007bff;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

            position: absolute;
            left: 430px;
            top: 140px;
        }

        .circle-button1:hover {
            background-color: #647C90;
            border: 2px solid #647C90;
            color: #ffffff;
        }

        .circle-button2:hover {
            background-color: #647C90;
            border: 2px solid #647C90;
            color: #ffffff;
        }

        .circle-button3:hover {
            background-color: #647C90;
            border: 2px solid #647C90;
            color: #ffffff;
        }


    </style>
</head>


<p>
    <a asp-action="Create">Create New</a>
</p>

<body>
    <div class="container">
            @foreach (var item in Model)
            {
                <div class="card-box">
                        <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>

                    <p class="card-heading-text">IBAN</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.CardNumber)</p>

                    <div class="card-exp-cvv-box">
                        <div class="expiry">
                            <p class="card-heading-text">Expiry date</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.ExpirationDate)</p>
                        </div>
                        <div class="cvv">
                            <p class="card-heading-text">CVV</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.CVV)</p>
                        </div>
                    </div>

                      @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </div>
            }
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-nJscfM5IvZ8BW6w5U5c1rhkWP9Ro3z8CzeWAnYJcP+bKr0QOhZbR+OwOroju1+rDZLzv9sgKj8nA45I2NgUPFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>






